<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PAGE settings -->
    <title>Url Shortener</title>
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css">
    <link rel="stylesheet" href="/css/colorful.css">
    <!-- Script: Navbar on-top -->
    <script src="/js/navbar-ontop.js"></script>
</head>

<body>
    <%- include header.ejs %>
    <div class="py-5 text-center cover d-flex flex-column bg-dark" style="">
        <div class="container my-auto">
            <%- include titleBanner.ejs %>
            <p>Allow pop ups from our website to open the links<br>Rest assured we don't spam our users :)<br></p>

            <br><br>
            <div class="row">
                <div class="col-md-12">
                    <p>Alternatively ,you can click on the urls below</p>
                    <ul class="">
                        <% for(var i=0;i<urls.length;i++){%>
                        <li><a href="<%=urls[i]%>" class="btn navbar-btn btn-sm add_button">
                                <%=urls[i]%></a></li>
                        <%}%>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"><a class="btn btn-primary" href="/">Another One</a></div>
            </div>
        </div>
        <div class="container mt-auto">
            <div class="row">
                <div class="mx-auto col-lg-6 col-md-8 col-10">
                    <a href="#why"><i class="d-block fa fa-angle-down fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
    <%- include why.ejs %>
    <%- include footer.ejs %>
    <script>

        //open all urls
        <%for (i = 0; i < urls.length; i++) {%>
            window.open('<%=urls[i]%>', '_blank');
        <%}%>
    </script>
</body>

</html>